.disarm-main {
  background-color: #d9e8f0cc;
  height: calc(70vh);
  width: calc(90vw);
  border-radius: 10%;
  padding: calc(1vw);
  opacity: 0.9;
}
.disarm-main h1 {
  margin: 0;
  font-size: calc(2vw);
  display: flex;
  justify-content: center;
}
.disarm-main .panel {
  display: grid;
  grid-template-columns: calc(60vw) calc(24vw);
  grid-template-rows: calc(50vh);
}
.disarm-main .center {
  display: flex;
  flex-direction: column;
  height: calc(50vh);
}
.disarm-main .locker {
  height: 100%;
  align-content: space-around;
  display: grid;
  grid-template: auto auto / repeat(6, 1fr);
  gap: calc(0.2vw);
}
.disarm-main .lockerboxes {
  height: calc(10vh);
  width: calc(8vw);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16%;
  margin: calc(0.7vw);
  font-size: calc(1.5vw);
  transition: box-shadow 2s, border-width 2s;
}
.disarm-main .lockerboxes:hover {
  cursor: pointer;
}
.disarm-main .panels {
  display: grid;
  grid-template-rows: calc(40vh) calc(10vh);
  grid-template-columns: calc(24vw);
}
.disarm-main .numberPicker {
  height: calc(40vh);
  align-content: space-around;
  display: grid;
  grid-template: auto auto / repeat(3, 1fr);
  gap: calc(0.1vw);
}
.disarm-main .numberPickerBoxes {
  height: calc(8vh);
  width: calc(5.5vw);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16%;
  margin: calc(1.4vw) calc(0.7vw) calc(1vw) calc(1.2vw);
  font-size: calc(2.5vw);
  transition: box-shadow 2s, border-width 2s;
}
.disarm-main .numberPickerBoxes:hover {
  cursor: pointer;
}
.disarm-main .buttonArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.disarm-main .runCheckBtn {
  background-color: silver;
  justify-content: center;
  padding: calc(1.5vw);
  border-radius: 10%;
  height: calc(10vh);
  width: calc(20vw);
  font-size: calc(1vw);
  font-weight: bolder;
  box-shadow: 0px calc(2vw) calc(2vw) rgba(75, 109, 202, 0.85);
  cursor: pointer;
  border: none;
}
.disarm-main .runCheckBtn:active {
  box-shadow: inset calc(0.5vw) calc(1.5vw) calc(2vw) calc(-1vw)
    rgba(0, 0, 0, 1.7);
}
.disarm-main .results {
  color: navy;
  font-size: calc(1vw);
  font-weight: 900;
  padding-left: calc(5vw);
}
